body {
  font-family: 'Helvetica', sans-serif;
  margin: 3% 3% 3% 3%;
  background-image: url(pinterest.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}



h1{
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 100px;
  color: white;
  text-shadow: 8px 2px grey;
  margin: 60px;
  padding: auto;
}

h2{
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  font-size: 40px;
  color: white;
  text-shadow: 8px 2px grey;
  margin: 30px;
  padding: auto;
}

h3{
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  font-size: 20px;
  color: white;
  margin: 30px;
  padding: auto;
}

#charts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3%;
  row-gap:5vw;
}

img{
  display: flex;
  height: 200px;
  width: 200px;
  align-items: center;
  margin-left: auto;
margin-right: auto;
}
